<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des Utilisateurs</title>
    <link rel="stylesheet" href="/css/user.css" />
  </head>
  <body>
    <div class="container">
      <h1>Liste des Utilisateurs</h1>
      <table>
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Courriel public</th>
            <th>Extension</th>
            <th>Code</th>
          </tr>
        </thead>
        <tbody id="userList">
          <!-- Les lignes des utilisateurs seront insérées ici -->
        </tbody>
      </table>
    </div>

    <script src="/JS/user.js"></script>
  </body>
</html>
